h1{
    color: #8a8a5c;
    text-decoration: underline;
    text-align:left;
}
h3 {
	color: #008080;
    text-decoration: underline;
    
}
h4
{
    text-align: justify;
}

#d {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
div.new
{
    color: #4d0000;
    font-style: bold;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 10px;
   
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #111;
}

h5{
	text-align: left;
}

		#m{
			color: #008080;
			text-align: left;
            font-size: 20px;
            text-shadow: 0.5px 0.5px black;
            padding-top: 10px;
		}
	#see
    {
/*background image from google*/
		background-image: url('msp6.jpg');
    
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0px;
}

body.home1
    {

        background-image: url('msp3.jpg');
    
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0px;
}
/*ul {
    font-style:bold;
    text-shadow: 1px 1px black;
}
h6 
{
    
    font-size: 15px;
    text-align: center;  
}
.contact1{
    width:300px;
    height:150px;
}
#contact2{
    padding-left: 50px;
}
#links{
    text-align: center;
    padding-top: 20px;
}
#buy
{
    font-size: 20px;
    text-decoration: underline;

}
.buy1{
    padding-left: 50px;
}
*/